# LINE Bot Credentials
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# OpenAI Api key
OPENAI_API_KEY=

# Testing Secret Code (Optional)
ADMIN_IDS=
DEV_MODE_SECRET_CODE=

# Context Path
WEDDING_CONTEXT_PATH=instance/wedding_data.json
SYSTEM_PROMPT_PATH=prompts/system.txt

# OpenAI Model
MODEL_NAME=gpt-4.1-nano

# Keep Alive URL (For Render)
KEEP_ALIVE_URL=

# PostgreSQL password
PGDATABASE=your_db
PGUSER=postgres
PGPASSWORD=password
PGHOST=localhost
PGPORT=5432

# PostgreSQL import path (tools/guest_loader.py)
GUESTS_CSV_PATH=C:...
